<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="navbar-header">
    <div class="btn-group-justified">
      <div class="row">
        <div class="col-xs-6 purchase_proceed_button">
          <a href="/menus" class="btn btn-block btn-primary">一覧</a>
        </div>
        <div class="col-xs-6 purchase_proceed_button">
          <a href="/carts" class="btn btn-block btn-primary">カート</a>
        </div>
      </div>
    </div>
  </div>
</nav>
